<!DOCTYPE html>
<body>
<h1>
Delete Page 
</h1>
<p>
Are you sure you want to delete {{ player.name }} from this {{ team.name }} ? 
</p>
<form method="POST" id="myForm"  >
    {% csrf_token %}
    <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="option" id="yes" value="yes">
  <label class="form-check-label" for="yes">Yes</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="option" id="no" value="no">
  <label class="form-check-label" for="no">No</label>
</div>
<button type="submit" class="btn btn-primary">
Submit</button>
<a href="{% url 'update' team.id %}">Go back to team page</a>

</form>
</body>
</html>