<!DOCTYPE html>
<body>
<h1>
Update Page 
</h1>
{% for player in players %}
    <span>{{ player.name }}</span>
  <a href="{% url 'update_player' player.id team.id %}" class="btn btn-primary btn-sm">Update</a>
  <a href="{% url 'delete_player' player.id team.id %}" class="btn btn-danger btn-sm">Delete</a>
  <br />
{% endfor %}
<form method="POST" >
{% csrf_token %}
<a href="{% url 'create_player' %}">Create Player <img src="https://cdn-icons-png.flaticon.com/512/1634/1634635.png" width="20" height="20" alt="Add Player"></a>
<input type="text" name="name" id="name" placeholder="{{ team.name }}" />
<button type="submit" class="btn btn-primary">Submit</button>
<a href="{% url 'add' team.id %}"> Add player to the team </a>
</form>
</body>
</html>
